body {
    background: url(../img/bg-orange.png) no-repeat center center fixed;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    /*color: #2c3e50;*/
    color: darkorange;
    background-color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px
}

.page-content {
    padding: 15px 15px;
}

.page-header {
    color: #eaeaea;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19999999999999996);
    margin-top: 0
}

.page-header h1 {
    margin-top: 0
}

.page-header span {
    margin-right: .5em;
    color: rgba(255, 255, 255, 0.30000000000000004)
}

.row {
    margin-bottom: 1.5em
}

article {
    color: white;
    text-align: left;
}
article a {
    color: whitesmoke;
}

.welcome h1, .welcome p {
    text-align: center;
    color: white;
    font-weight: 200
}

.thumbnail .caption {
    color: #333;
    text-align: center
}

.foot {
    background: #232323;
    color: #fff;
    font-size: 85%
}

.foot .widget {
    margin-top: 1.5em;
    border-right: 1px solid #1c1c1c
}

.foot .widget p {
    color: #aaa;
    line-height: 1.5em
}

.foot .widget:last-child {
    border-right: 0
}

.foot .foot-form {
    box-sizing: border-box;
    padding: 1em;
    background: #1b1b1b;
    border-radius: .5em;
    border: 1px solid #191919
}

.foot .nav-pills > li > a {
    color: #fff
}

.foot .nav-pills > li > a:hover {
    color: #fff;
    background: #1a1a1a
}

.credits {
    background: #1c1c1c;
    border-top: 2px solid #191919;
    padding: 1em 0;
    color: #aaa;
    line-height: 1.5em
}

.credits .social {
    text-align: right
}

.credits .social a {
    font-size: 1.5em;
    margin-left: .5em;
    color: #363636;
    text-decoration: none
}

.credits .social a:hover {
    color: #ccc
}

.breadcrumb a {
    color: #ccc;
    text-decoration: none
}

.breadcrumb a:hover {
    color: #fff;
    text-decpration: none
}

.navbar {
    /*background-color: orange;*/
    text-transform: capitalize;
}
.navbar-default {
    color: darkorange;
}
.navbar-nav {
    color: darkorange;
}
.navbar-brand {
    color: darkorange;
}
.navbar-inverse .navbar-brand {
    color: darkorange;
}
.navbar-inverse .navbar-nav > li > a {
    color: darkorange;
}

#navbar-lse-img {
    float: left;
}

.name {
    font-size: 10pt;
    text-transform: none;
}

header .intro-text .name {
    font-size: 26pt;
    text-transform: none;
}

#contact {
    text-align: left;
}

#skills {
    font-size: 20pt;
    text-transform: none;
}

.navbar-default .navbar-nav>li>a {
    color: darkorange;
}